$color-background: #F5F5F5;
$color-background-darker: #ebebeb;
$color-primary: #FA8100;
$color-primary-darker: #d66b00;
$color-primary-transparent: rgba(250, 129, 0, 0.2);
$color-white: #FFFFFF;
$color-black: #000000;
$color-green: #00d000;
$color-red: #b60015;
$color-success: $color-green;
$color-danger: $color-red;