@import './_colors.scss';
@import './_mixins.scss';

body, html {
  background: $color-background;

  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  body::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
}

.btn {
  border-radius: 0;
  font-size: 14px;
  height: 40px;
  padding: 0 30px;
  &.btn-primary {
    background-color: $color-primary;
    border: $color-primary;

    &.disabled,
    &[disabled],
    fieldset[disabled] .btn-success,
    &.disabled:hover,
    &[disabled]:hover,
    fieldset[disabled] .btn-success:hover,
    &.disabled:focus,
    &[disabled]:focus,
    fieldset[disabled] .btn-success:focus,
    &.disabled:active,
    &[disabled]:active,
    fieldset[disabled] .btn-success:active,
    &.disabled.active,
    &[disabled].active {
      background-color: $color-primary-darker;
    }
  }
}

.form-control {
  @include shadow-box;
  border: none;
  border-radius: 0;

  &:focus {
    box-shadow: 0 0 5px $color-primary;
    border-color: transparent;
  }
}

.icon-button:hover {
  cursor: pointer;
}

.sidebar {
  display: block;
  width: 100%;
  min-height: 100px;
  background-color: white;
  margin: 10px 0;

  header {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-right: 5px solid $color-primary;
    text-align: right;
    padding: 0 15px;
    font-size: 18px;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}